* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font: weight 800px;
  font-style: normal;
}
:root {
  --color: #8b96a5;
  --border: 1px solid #dee2e7;
  --background: white;
  --primary-gradient: linear-gradient(#127fff, #0067ff);
  --max-width: 1180px;
  --half-width: 895px;
}
/*  header*/
header {
  max-width: var(--max-width);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin: 0 auto;
}
.searchbar {
  border: 2px solid rgb(88, 88, 253);
  display: flex;
  border-radius: 10px;
  width: 50%;
}
.searchbar .valuefield {
  width: 60%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 0;
  outline: 0;
}
.searchbar .dropdown {
  width: 20%;
  outline: 0;
  border-left: 1px solid rgb(88, 88, 253);
}
.searchbar .searchbtn {
  width: 20%;
  background: #0d6efd;
  color: white;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.searchbar input,
.searchbtn {
  margin: 0;
  padding: 10px;
}
.navbar {
  width: 20%;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.navbar ul li a {
  text-decoration: none;
  color: var(--color);
  font-size: 15px;
}
.navbar ul li .allicons {
  color: var(--color);
}
/* nav */
nav {
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
  border-top: var(--border);
}
nav .rightnav {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
/* section 1 bannerbox */
.bannerbox {
  margin: 20px auto;
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  gap: 10px;
  border: var(--border);
  padding: 20px 20px 20px 10px;
}
/* list section 1st div in banner boc */

.bannerbox .listsection {
  height: 360px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.listsection ul li {
  list-style-type: none;
  height: 40px;
  padding: 10px;
}
.listsection ul li a {
  text-decoration: none;
  color: #505050;
  font-weight: 400;
  font-size: 16px;
}
/* 2nd div of bannerbox */
.banner {
  max-width: 665px;

  position: relative;
}
.banner img {
  object-fit: cover;
  width: 100%;
  height: 360px;
}
.bannertext {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 253px;
  height: 73px;
}
.bannertext .bnrtext {
  font-size: 28px;
}
.bannertext .bnrsubtext {
  font-size: 32px;
  font-weight: bold;
}

.bannertext .bnrbtn {
  font-size: 16px;
  background: white;
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  margin: 20px 0;
}
/* 3rd div of bnnerbox  */
.bigboxes {
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bigboxes .loginbox {
  height: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background: #e3f0ff;
  border-radius: 10px;
}
#pic {
  display: flex;
  gap: 10px;
  align-items: center;
}
.pic p {
  font-size: 16px;
  height: 44px;
}
.picture {
  width: 44px;
  height: 44px;
  border: 1px solid #91b1e7;
  border-radius: 50%;
  background-color: #91b1e7;
}

.loginbox .joinnowbtn {
  background: var(--primary-gradient);
  color: white;
  padding: 5px;
  border: none;
  border-radius: 6px;
  height: 30px;
}
.loginbox .loginbtn {
  color: #0d6efd;
  background: white;
  padding: 5px;
  border: none;
  height: 30px;
  border: 1px solid grey;
  border-radius: 6px;
}
/* 2nd discount box of bannerbox*/
.discountbox {
  height: 95px;
  border-radius: 6px;
  background-color: #f38332;
  color: white;
  padding: 20px;
}
.discountbox p {
  text-align: left;
  font-size: 16px;
  width: 144px;
  height: 57px;
}
/* quoebox */
.quotebox {
  height: 95px;
  border-radius: 6px;
  background-color: #55bdc3;
  color: white;
  padding: 20px;
}
.quotebox p {
  text-align: left;
  font-size: 16px;
  width: 144px;
  height: 57px;
}
/*secion 2 sale section  */
.section-sale {
  width: 100%;
  max-width: var(--max-width);
  height: 240px;
  margin: 20px auto;
  display: flex;
  border: var(--border);
}
.countdown {
  flex: 1;
  padding: 20px;
}
#cd-content {
  width: 198px;
  height: 113px;
}
.cdtext {
  font-size: 20px;
  font-weight: 600;
}
.cdsubtext {
  font-size: 16px;
  color: #8b96a5;
}
.time-left {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.time-left p {
  text-align: center;
  color: white;
  padding: 5px;
  width: 45px;
  height: 50px;
  border-radius: 4px;
  background-color: #606060;
}
/* sale product */
.sale-items {
  width: 100%;
  max-width: var(--half-width);
  height: 235px;
  display: flex;
}
.modes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  flex: 1;
  border-right: var(--border);
  border-left: var(--border);
}
.items {
  width: 140px;
  height: 140px;
}
.items img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: auto;
}
.iteminfo {
  text-align: center;
}
.iteminfo .percentage {
  display: inline-block;
  margin: 10px;
  padding: 3px 10px;
  background: #ffe3e3;
  border-radius: 29px;
}
/* section 3 home-accessories */
.home-accessories {
  max-width: var(--max-width);
  width: 100%;
  height: 257px;
  display: flex;
  margin: 20px auto;
  border: var(--border);
}
.home-bg {
  flex: 1;
  position: relative;
}
.home-bg img {
  flex: 1;
  object-fit: cover;
  height: 257px;
}
.home-bg h4 {
  font-size: 20px;
  position: absolute;
  left: 20px;
  top: 20px;
}
.home-bg .homebtn {
  width: 123px;
  position: absolute;
  left: 20px;
  top: 80px;
  padding: 10px;
  border-radius: 6px;
  border: 0;
  outline: 0;
  font-weight: 500;
  background: white;
}
.home-gridbox {
  width: 100%;
  max-width: var(--half-width);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.home-item {
  border: var(--border);
  padding: 20px;
  height: 128px;
  position: relative;
}
.home-item img {
  position: absolute;
  right: 0;
  bottom: 5px;
}
.home-item p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #1c1c1c;
}
.home-item span {
  font-size: 13px;
  color: #8b96a5;
}
/* electronic */
.electronics-accessories {
  width: 100%;
  max-width: var(--max-width);
  height: 257px;
  display: flex;
  margin: 20px auto;
  border: var(--border);
}

.consumer-bg {
  flex: 1;
  position: relative;
}
.consumer-bg img {
  flex: 1;
  object-fit: cover;
  height: 257px;
}
.consumer-bg h4 {
  font-size: 20px;
  position: absolute;
  left: 20px;
  top: 20px;
}
.consumer-bg .Consumerbtn {
  width: 123px;
  position: absolute;
  top: 100px;
  left: 20px;
  padding: 10px;
  border-radius: 6px;
  border: 0;
  outline: 0;
  font-weight: 500;
  background: white;
}
.consumers-gridbox {
  width: var(--half-width);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
.consumers-item {
  border: var(--border);
  padding: 20px;
  height: 128px;
  position: relative;
}
.consumers-item img {
  width: 82px;
  height: 82px;
  position: absolute;
  right: 0;
  bottom: 5px;
}
.consumers-item p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #1c1c1c;
}
.consumers-item span {
  font-size: 13px;
  color: #8b96a5;
}
/* section 4th form section */
.form {
  width: 100%;
  max-width: var(--max-width);
  padding: 10px;
  height: 320px;
  background: url(assets/Image/backgrounds/Group\ 982.png);
  margin: 20px auto;
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
}
.form-leftside {
  width: 440px;
  position: relative;
  color: white;
}
.form-heading {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 32px;
  font-weight: 600;
}
.subheading {
  position: absolute;
  top: 100px;
  left: 20px;
  font-size: 16px;
}
.form-rightide {
  padding: 0;
}
#inputform {
  width: 410px;
  height: 90%;
  margin: 0 auto;
  background: white;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border: var(--border);
}
#inputform label,
textarea,
input,
select,
button {
  padding: 10px;
}
#inputform .send {
  background: var(--primary-gradient);
  color: white;
  width: 128px;
  border: 0;
  border-radius: 6px;
  outline: 0;
}
/* recommended item section */
#main-heading {
  padding-bottom: 10px;
}
.recomended-item {
  width: 100%;
  max-width: var(--max-width);
  margin: 20px auto;
}
.nested {
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
}
.more-items {
  border: var(--border);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.more-items .photos {
  height: 140px;
}
.photos img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: auto;
}

.more-items p {
  color: #8b96a5;
}
/* section 5 */
.extra-services {
  max-width: var(--max-width);
  width: 100%;
  margin: 20px auto;

  display: flex;
  gap: 10px;
}
.services {
  gap: 20px;
  border: var(--border);
  position: relative;
}
.services #servicesimg {
  width: 100%;
  object-fit: cover;
  height: 120px;
}
.servicebottom {
  padding: 20px;
}
.services #servicesicon {
  position: absolute;
  bottom: 60px;
  right: 20px;
  font-size: large;
  background: #d1e7ff;
  border: 1px solid white;
  padding: 10px;
  border-radius: 50%;
}
/* section 6 */
.flags {
  max-width: var(--max-width);
  width: 100%;
  margin: 20px auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.flags .country {
  display: flex;
  align-items: center;
  gap: 10px;
}
.country img {
  width: 28px;
  height: 20px;
}
.names .countryname {
  font-size: 16px;
}
.names .sub {
  color: #8b96a5;
  font-size: 13px;
}
/* secion 7 */
.newsletter {
  background-color: #eff2f4;
  margin: 20px 0;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.newsheading {
  text-align: center;
}
.newssub {
  color: #606060;
  font-size: 16px;
}
.newsbox {
  display: flex;
  gap: 10px;
  height: 40px;
}

.inputbox {
  display: flex;
  width: 274px;
  background: white;
  border-radius: 6px;
  border: 2px solid #dee2e7;
  height: 40px;
  gap: 10px;
  align-items: center;
}
.inputbox .fa-envelope {
  color: grey;
  margin-left: 10px;
}
.inputbox #inputmail {
  outline: 0;
  flex: 1;
  height: 40px;
  border: none;
  height: 100%;
}
.newsbox .subscribe {
  width: 110px;
  background: var(--primary-gradient);
  border: white;
  color: white;
  border-radius: 6px;
  height: 100%;
}
/* footer */
footer {
  background: rgb(255, 255, 255);
  height: auto;
}
.footerlinks {
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
.footerlinks p,
.footerlinks img {
  display: flex;
  flex-direction: column;
  padding: 5px;
  color: grey;
}
.footerlinks .heading {
  color: black;
  margin-bottom: 5px;
}

.first-block ul {
  display: flex;
  gap: 10px;
  margin-left: 5px;
  margin-top: 10px;
}
.first-block ul li {
  list-style-type: none;
}
.first-block ul li a {
  font-size: 12px;
  background: grey;
  border-radius: 50%;
  padding: 5px;
  color: white;
}

.copywrite {
  background-color: #dee2e7;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copywrite .lang {
  display: flex;
  align-items: center;
}
.copywrite select {
  background: transparent;
  border: 0;
  outline: 0;
}
.flagimg {
  width: 24px;
  height: 17px;
}
/* product listing page */
.breadcrumb {
  max-width: var(--max-width);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px auto;
  padding: 10px;
}
.breadcrumb a {
  text-decoration: none;
  color: #8b96a5;
}
.product-section {
  max-width: var(--max-width);
  width: 100%;
  display: flex;
  gap: 10px;
  margin: auto;
}
.catagories {
  max-width: 240px;
  display: flex;
  flex-direction: column;
}
.catagory {
  padding: 10px 0;
  border-top: var(--border);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.catagory ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.catagory ul li {
  list-style-type: none;
}
.catagory ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #505050;
}
#lastlink {
  text-decoration: none;
  color: #0067ff;
}

.catagories .heading-section {
  display: flex;
  justify-content: space-between;
}
.brand {
  border-top: var(--border);
  padding: 10px 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.brand a {
  text-decoration: none;
  color: #0067ff;
}
.Feature {
  border-top: var(--border);
  padding: 10px 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.Feature a {
  text-decoration: none;
  color: #0067ff;
}
.pricerange {
  width: 100%;
  border-top: var(--border);
  padding: 10px 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
  object-fit: cover;
}
.pricerange a {
  text-decoration: none;
  color: #0067ff;
}
.maxmin {
  display: flex;
  gap: 20px;
  width: 100%;
}
.maxminbtn {
  color: #0d6efd;
}
.max,
.min {
  flex: 1;
}
.max input,
.min input {
  width: 100%;
}
.Condition {
  padding: 10px 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.Rating {
  border-top: var(--border);
  padding: 10px 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.rating {
  font-size: 12px;
  color: #f38332;
}
/* flex */
.feature-and-accesories {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.FEATURESOFPODUCCT {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: var(--border);
  align-items: center;
  height: 62px;
}
.rightsidefeture {
  display: flex;
  gap: 10px;
  align-items: center;
}
.product-listview {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.products {
  padding: 10px;
  height: 200px;
  width: 100%;
  display: flex;
  gap: 10px;
  border: var(--border);
  align-items: center;
}
.products .product-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-img img {
  width: 184px;
  height: 184px;
}
.product-information {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-information p {
  font-size: 16px;
}
.product-information span {
  color: #8b96a5;
  font-size: 16px;
}
.product-information #amount {
  font-weight: 600;
  color: black;
  font-size: 20px;
}
.spandivtwo {
  display: flex;
  gap: 10px;
}

.spandivtwo .star {
  color: #ff9017;
}
.star .fa-star {
  font-size: 12px;
  gap: 2px;
}
.spandivtwo .orders {
  color: #8b96a5;
}
.spandivtwo .shipping {
  color: #00b517;
}
.details-product {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.details-product .details {
  color: #505050;
  font-size: 16px;
}
.details-product .seedetails {
  color: #0d6efd;
}

/* grid view products */
.product-gridview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  border: var(--border);
}
.products-grid {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  border: var(--border);
}
.products-grid .img-grid {
  display: block;
  margin: 20px auto;
}
.img-grid img {
  width: 202px;
  height: 202px;
}
.grid-information {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.price {
  font-weight: 600;
  color: black;
  font-size: 20px;
}
